{deps, [
{mysql,".*",{git,"https://github.com/mysql-otp/mysql-otp","1.2.0"}},{ecpool,".*",{git,"https://github.com/emqtt/ecpool","master"}},{jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
